.category-traffic {
    cursor: pointer;

    .header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .5em;

        .title {
            color: $box-inversed-text-color;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .icon {
            color: $box-inversed-text-color;
            font-size: 14px;
        }
    }

    .metrics {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        .metric {
            .label {
                color: $box-inversed-text-dimmed-color;
                font-size: 12px;
                text-transform: uppercase;
            }

            .value {
                color: $box-inversed-text-color;
                font-size: 30px;
                font-weight: 300;

                .share {
                    color: $box-inversed-text-dimmed-color;
                    font-size: 18px;
                    margin-left: .4em;
                }
            }
        }
    }
}

.category-traffic.dimmed {
    .header .title,
    .header .icon,
    .metrics .metric .value {
        color: $box-inversed-text-dimmed-color;
    }
}

.category-traffic.dimmed:hover {
    .header .title,
    .header .icon,
    .metrics .metric .value {
        color: $box-inversed-text-color;
    }
}

@media (max-width: $media-threshold-3) {
    .category-traffic {
        text-align: center;

        .metrics {
            flex-flow: column;
        }
    }
}
