.summary {
    .metric {
        margin-bottom: 30px;

        .label {
            color: $box-inversed-text-dimmed-color;
            font-size: 12px;
            text-transform: uppercase;
        }

        .value {
            color: $box-inversed-text-color;
            font-size: 60px;
            font-weight: 300;
        }
    }
}

@media (max-width: $media-threshold-1) {
    .summary {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        .metric {
            margin-bottom: 0;


        }
    }
}

@media (max-width: $media-threshold-3) {
    .summary {
        flex-flow: column;
        text-align: center;
    }
}
