$background-color: #f5f7fa;
$primary-color: #533feb;

$graph-primary: #533feb;
$graph-secondary: #88ffc6;

$box-dimmed-background-color: #e8ecee;
$box-dimmed-text-color: #98a0a6;

$box-inversed-background-color: #222;
$box-inversed-text-color: #ddd;
$box-inversed-text-dimmed-color: #888;

$box-normal-background-color: #fff;
$box-normal-text-color: #222;
$box-normal-text-dimmed-color: #aaa;
$box-normal-graph-color: #88ffc6;
$box-normal-graph-accent-color: #45ce8c;
$box-normal-graph-opacity: 0.2;

$media-threshold-1: 900px;
$media-threshold-2: 800px;
$media-threshold-3: 600px;
